<ion-modal-view>
	<ion-header-bar>
        <button ng-click="closeModal()" class="button button-clear">
          	<i class="icon ion-close-round"></i>
        </button>
        <h1 class="title">Let's Start Sweating...</h1>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
        <ion-slide-box delegate-handle="modalSlider" show-pager="false">
        <ion-slide class="padding">            
        <h4> When are you planning to work out? </h4>
        <button class="button button-full button-stable" ng-click="openDatePicker()">
            {{ pickedDate}}
        </button>
        <button class="button button-full button-stable" ng-click="openStartTimePicker()">
            {{ startTime }}
        </button>
        <button class="button button-full button-stable" ng-click="openEndTimePicker()">
            {{ endTime }}
        </button>
        <button class="button button-full button-calm" ng-click="nextSlide()">
            Next
        </button>
        <button class="button button-full button-assertive" ng-click="prevSlide()">
            Back
        </button>
        </ion-slide> <!-- End of datepicker -->
        
        <!-- Start of location form -->
        <ion-slide class="padding">  
        <h4> Where are you working out? </h4>
        <ion-list>
            <ion-radio ng-repeat="item in locationList" ng-value="item.value" ng-model="experience" ng-change="updateLocation(item)">
                {{item.text}}
            </ion-radio>
        </ion-list>
        <button class="button button-full button-calm" ng-click="nextSlide()">
            Next
        </button>
        <button class="button button-full button-assertive" ng-click="prevSlide()">
            Back
        </button>
        </ion-slide>
        <!-- End of gender form -->

        <!-- Start of H/W form -->
        <ion-slide class="padding">  
        <h4> What type of workout will you be doing? </h4>
        <br />
        <h4> (Choose all that you're interested in) </h4>
        <h3> Cardio </h3>
        <ion-list>
        <ion-checkbox ng-model="workouts.cardio.running">Running</ion-checkbox>
        <ion-checkbox ng-model="workouts.cardio.cycling">Cycling</ion-checkbox>
        <ion-checkbox ng-model="workouts.cardio.swimming">Swimming</ion-checkbox>
        </ion-list>

        <h3> Weightlifting </h3>
        <ion-list>
        <ion-checkbox ng-model="workouts.weight.triceps">Chest/Triceps</ion-checkbox>
        <ion-checkbox ng-model="workouts.weight.biceps">Back/Biceps</ion-checkbox>
        <ion-checkbox ng-model="workouts.weight.legs">Legs</ion-checkbox>
        </ion-list>
        <button class="button button-full button-calm" ng-click="saveWorkoutTypes()">
            Next
        </button>
        <button class="button button-full button-assertive" ng-click="prevSlide()">
            Back
        </button>
        </ion-slide>
        <!-- End of Workout type form -->

        <!-- Start of Num People form -->
        <ion-slide class="padding">  
        <h4> How many people do you want to work out with?</h4>
        <ion-list class="numpeople">
            <ion-radio ng-repeat="item in numPeopleList" ng-value="item.value" ng-model="numpeople" ng-change="updateNumPeople(item)">
                {{item.text}}
            </ion-radio>
        </ion-list>
        <button class="button button-full button-calm" ng-click="findSuggestions()">
            Next
        </button>
        <button class="button button-full button-assertive" ng-click="prevSlide()">
            Back
        </button>
        </ion-slide>
        <!-- End of Num People form -->

        <!-- Start of Suggestions form -->
        <ion-slide class="padding">  
        <p ng-if="noMatch">
            <strong>Oops, we weren't able to find any that matches your workout.. :/ </strong>
        </p>

        <h4 ng-if="yesMatch"> Here are some workouts that you might be interested in joining </h4>
        <div ng-if="yesMatch" class="list card">
            <a ng-repeat="match in matches" class="item item-text-wrap" ng-click="sendRequest(match)">
                <strong>{{match.name}}</strong>
                <br/>
                {{match.date}}
                <br/>
                {{match.start}} until {{match.end}}
                <br/>
                At {{match.location}}
                <br/>
                <p ng-repeat="type in match.types">
                {{type}}
                </p>
                <br/>
                Click to join {{match.name}}
                <br/>
            </a>
        </div>
        <button class="button button-full button-calm" ng-click="createWorkout()">
            I don't want to join any of these. <br/>
            Create my own.
        </button>

        <button class="button button-full button-assertive" ng-click="prevSlide()">
            Back
        </button>
        </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-modal-view>
