<ion-view title="Home">
<ion-content class="content-dark">

<div class="today-schedule text-align-center">
    <h4>You don't have any workout sessions today</h4>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="list">
    <button class="button button-full button-balanced" ng-click="notImplemented()">
        Check out who's working out today
    </button>

    <button class="button button-full button-royal" ng-click="selectModal.show()">
        Create a workout session
    </button>
</div>

</ion-content>
</ion-view>
