<ion-view title="Home">
<ion-content ng-controller="MainCtrl" class="content-dark">
<div class="today-schedule text-align-center">
    <h4>You don't have any workout sessions today</h4>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="list">
    <a class="button button-full button-calm" ng-click="showRequest()">
        Check pending requests
    </a>
    <a class="button button-full button-balanced" ng-click="showToday()">
        Check out who's working out today
    </a>
    <a class="button button-full button-royal" ng-click="selectModal.show()">
        Create a workout session
    </a>
</div>

</ion-content>
</ion-view>
