<ion-modal-view>
	<ion-header-bar>
        <button ng-click="closeModal()" class="button button-clear">
          	<i class="icon ion-close-round"></i>
        </button>
        <h1 class="title">Let's Start Sweating...</h1>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
        <ion-slide-box delegate-handle="modalSlider" show-pager="false">
        <ion-slide class="padding">            
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name" ng-model="data.firstname">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name" ng-model="data.lastname">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="data.email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-full button-calm" ng-click="nextSlide()">
            Next
        </button>
        <button class="button button-full button-assertive" ng-click="closeModal()">
            Cancel
        </button>

        </ion-slide> <!-- End of name/email/pw form -->
        
        <!-- Start of gender form -->
        <ion-slide class="padding">  
        <h4> What is your gender? </h4>
        <ion-list>
            <ion-radio ng-repeat="item in genderList" ng-value="item.value" ng-model="gender" ng-change="updateGender(item)">
                {{item.text}}
            </ion-radio>
        </ion-list>
        <button class="button button-full button-calm" ng-click="nextSlide()">
            Next
        </button>
        <button class="button button-full button-assertive" ng-click="prevSlide()">
            Back
        </button>
        </ion-slide>
        <!-- End of gender form -->

        <!-- Start of Expertise form -->
        <ion-slide class="padding">  
        <h4> What describes your workout experience most accurately? </h4>
        <ion-list class="expertise">
            
            <ion-radio ng-repeat="item in experienceList" ng-value="item.value" ng-model="experience" ng-change="updateExperience(item)">
                {{item.text}}
            </ion-radio>
        </ion-list>
        <button class="button button-full button-calm" ng-click="nextSlide()">
            Next
        </button>
        <button class="button button-full button-assertive" ng-click="prevSlide()">
            Back
        </button>
        </ion-slide>
        <!-- End of Expertise form -->

        <!-- Start of Goals form -->
        <ion-slide class="padding">  
        <h4> What are your goals? </h4>
        <ion-list>
          <ion-checkbox ng-model="goal.lean">Get Lean</ion-checkbox>
          <ion-checkbox ng-model="goal.fit">Get Fit</ion-checkbox>
          <ion-checkbox ng-model="goal.muscles">Build Muscles</ion-checkbox>
        </ion-list>
        <button class="button button-full button-calm" ng-click="signupEmail()">
            Done
        </button>
        <button class="button button-full button-assertive" ng-click="prevSlide()">
            Back
        </button>
        </ion-slide>
        <!-- End of Goals form -->
    </ion-slide-box>
    </ion-content>
</ion-modal-view>
